@import "_config.scss";
header{
    height:100px;
    position: relative;
    display: block;
    width:100%;
    background: $white;
    color: $white;
    //one-edge-shadow
    -webkit-box-shadow: 0px 5px 6px -3px rgba(0,0,0,.16);
    -moz-box-shadow: 0px 5px 6px -3px rgba(0,0,0,.16);
    box-shadow: 0px 5px 6px -3px rgba(0,0,0,.16);
    z-index: 1000;
    /* The container <div> - needed to position the dropdown content */
    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: $blue;
      width: calc(100% - 4px);
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1000;
      border:2px solid $blue;
    }
    
    /* Links inside the dropdown */
    .dropdown-content a {
      color: $white;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: $white;color:$blue}
    
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {display: block;}
    

    .logo{
        color: $black;
        position: absolute;
        top:50%;
        left:50px;
        @include translateY(-50%);
        h1{
            margin: auto;
        }
        a{
          color:$black;
        }
    }
    nav,
    nav ul,
    nav ul li{
        margin:0;
        padding:0;
       
    }
    nav{
        position: absolute;
        top:50%;
        right:50px;
        @include translateY(-50%);
        ul li{
            list-style-type: none;   
            margin-right: 10px;//not sure
            display: flex;
            flex-direction: row;
            color:#000;
            p{
                margin-right: 10px;
            }
            &.last{
                margin:0;
            }
            a{
                font-size:16px;//1 rem
                line-height:normal;
                color:#fff; 
            }
        }
    }
}
footer{
    height:100px;
    display:flex;
    align-items: center;
    justify-content: center;
    background: #2B64FF;
    .copyright{
        color:$white;
        h2{
          margin:0px;
          font-size:20px;
        }
    }
    h2{
        margin:0px;
    }
}
.basicBtn{
    color:$white;
    background: $blue;
    padding:15px 60px;
    border:2px solid $blue;
    font-size:16px;
    @include transition(.2s ease);
    &:hover{
       color:#2B64FF;
       background: rgba(0, 0, 0, 0);
    }
}
.basicBtn_reverse{
    color:$blue;
    background: $white;
    padding: 15px 0px;
    width: 300px;
    text-align: center;
    border:2px solid $white;
    @include transition(.2s ease);
    &:hover{
       color:$white;
       background: rgba(0, 0, 0, 0);
       
    }
}

.google-button {
    height: 40px;
    border-width: 0;
    background: white;
    color: #737373;
    border-radius: 5px;
    white-space: nowrap;
    box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.05);
    transition-property: background-color, box-shadow;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
    padding: 0;
    
    &:focus,
    &:hover {
      box-shadow: 1px 4px 5px 1px rgba(0,0,0,0.1);
    }
    
    &:active {
      background-color: #e5e5e5;
      box-shadow: none;
      transition-duration: 10ms;
    }
  }
      
  .google-button__icon {
    display: inline-block;
    vertical-align: middle;
    margin: 8px 0 8px 8px;
    width: 25px;
    height: 25px;
    box-sizing: border-box;
  }
  
  .google-button__text {
    display: inline-block;
    vertical-align: middle;
    padding: 0 24px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto',arial,sans-serif;
  }
  .error{
      color:rgb(255, 0, 0);
  }
  $offset: 187;
$duration: 1.4s;

.spinner {
  animation: rotator $duration linear infinite;
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
    dash $duration ease-in-out infinite, 
    colors ($duration*4) ease-in-out infinite;
}

@keyframes colors {
	0% { stroke: #4285F4; }
	25% { stroke: #DE3E35; }
	50% { stroke: #F7C223; }
	75% { stroke: #1B9A59; }
  100% { stroke: #4285F4; }
}

@keyframes dash {
 0% { stroke-dashoffset: $offset; }
 50% {
   stroke-dashoffset: $offset/4;
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: $offset;
   transform:rotate(450deg);
 }
}
.loading{
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.notFound{
  height:calc(100vh - 200px);
  display: flex;
  align-items: center;
  justify-content: center;
}



