@import "_config.scss";

.home-header{
    background-image: url('./../img/homepage/homebg.png');
    background-position: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;
    margin-top:-100px;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.home-body{
    padding:70px 200px;
}
.panelBtn{
    font-size:20px;
    color:#2B64FF;
    width:400px;
    height:300px;
    background-color: #fff;
    box-shadow: 0px 6px 6px #00000029;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 15px;
    @include transition(.2s ease);
    .overlay{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: #2B64FF;
        border-radius: 15px;
      }
    &:hover .overlay{
        opacity: 1;
    }
    .text {
        color: rgb(255, 255, 255);
        font-size: 20px;
        position: absolute;
       
        padding:10px;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
      }

}


.panelList{
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top:110px;
    section{
        width: 600px;
        height: 600px;
        padding:30px;
        box-shadow: 0px 6px 6px #00000029;
        margin:20px 0px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position:relative;
            h2{
                margin-top:0px;
                margin-bottom:0px;
            }
            h3{
                margin-top:0px;
                margin-bottom: 0px;
            }
            ul {
                padding-left: 0px;
                li{
                list-style-type: none;
                color:#585858;
                }          
            }   
            .panelList-console{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                position: absolute;
                bottom:0;
                left:0;
                width:100%;
                height:80px;
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
                background-color: #BCE0FD;
            }
            .panelList-panel{//color hover!!!
                width:60%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                // padding-right:60px;
                position: relative;
                
                a{
                    color:#000;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    width:180px;
                   
                    &:hover{
                        img{
                            opacity: .5;
                            padding-left:20px;
                        }
                    }
                    img{
                        @include transition(.2s ease);
                        width:30px;
                        opacity: 1;
                        padding-left:10px;
                    }
                }
                
               
            }
            .panelList-logo{
                width:40%;
                height:100%;
                ul{
                    display: flex;
                    flex-direction: row;
                    // justify-content: space-between;
                    padding-left:30px;
                    height:100%;
                    margin: 0px;
                }
                ul li{
                    list-style-type: none;
                    height:100%;
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    margin:0px 15px;
                    img{
                        width:60px;
                    }
                }
            }
       

    }
}