@import "_config.scss";
.landing-header{
    background-image: url('./../img/landingpage/landing@2x.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;
    margin-top:-100px;
    section{
        float:left;
        width:50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height:100%;
        h1,h2{
            color:$white;
            width:510px;
            margin:0 auto;
            text-align: left; 
           
        }
        h1{
            line-height:70px;
            
        }
        h2{
            line-height:90px;
        }
        h3{
            margin: 0;
        }
        a{
            border-radius: 10px;
        }
    }
    .landing-header-btn{
        width:510px;
        margin:10px auto 0 auto;
        display: flex;
    }
}
.landing-body{
    width:80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 6px 6px #00000029;
    top: -110px;
    position: relative;
    background-color: #fff;
    padding:30px 100px;
    
    section:nth-child(1){
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid #BCBCBC;
        .landing-body-first-part{
            width:30%;
            text-align:center;
            h3{
                margin-top:90px;
                margin-bottom:70px;
            }
            p{
                margin-bottom:120px;
            }
        }
    }
    section:nth-child(2){
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid #BCBCBC;
        width: 100%;
        height: 600px;
        .landing-body-second-part1,.landing-body-second-part2{
            width:50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h2{
                margin-bottom:70px;
            }
            h4{
               margin:auto;
               margin-right:60px;

            }
            .status-list{
                display: flex;
                flex-direction: row;
                align-self:center;
                justify-content: space-between;
                margin-bottom:50px;
                span{
                    display: flex;

                }
            }
        }
    }
    section:nth-child(3){
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid #BCBCBC;
        width: 100%;
        height: 600px;
        .landing-body-third-part1,.landing-body-third-part2{
            width:50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h2{
                margin-bottom:70px;
            }
            h4{
               margin:auto;
               margin-right:60px;

            }
            .product-list{
                display: flex;
                flex-direction: row;
                align-self:center;
                justify-content: space-between;
                margin-bottom:50px;
                span{
                    display: flex;

                }
            }
        }
    }
}
.history{
    padding:20px;
    display: flex;
    align-items: center;
    justify-content: center;
}