.account {
  display: flex;
  width: 100%; }

.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: calc(100vh - 200px); }

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 16px; }

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd; }

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc; }

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 20px 40px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: calc(100vh - 240px); }
  .tabcontent button:disabled {
    color: #fff;
    background: #444444; }

/*Vars*/
/*RWD*/
/*Mixins*/
html {
  font-size: 16px; }

/*General Setting*/
body {
  font-family: 'Roboto','Open Sans', sans-serif;
  font-size: 16px; }

a {
  text-decoration-line: none;
  cursor: pointer; }

h1 {
  font-size: 60px; }

h2 {
  font-size: 45px; }

h3 {
  font-size: 36px; }

h4 {
  font-size: 20px; }

.dashboard {
  width: 100%; }

.dashboard_title {
  padding: 60px 200px 180px 200px;
  background: #6FBBFF;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  z-index: 99;
  position: relative; }
  .dashboard_title h1 {
    margin-bottom: 0px; }
    .dashboard_title h1 span {
      display: inline;
      font-size: 45px;
      color: #fff;
      margin-left: 16px; }
      .dashboard_title h1 span a {
        vertical-align: bottom; }
        .dashboard_title h1 span a img {
          width: 40px; }

.dashboard_body {
  margin-top: -120px;
  padding-left: 200px;
  padding-right: 200px;
  background: #EAF5FF;
  padding-bottom: 150px; }
  .dashboard_body .bottomPieGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 55px; }
    .dashboard_body .bottomPieGroup section {
      background: #fff;
      border-radius: 5px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      width: 45%; }
      @media all and (min-width: 1680px) {
        .dashboard_body .bottomPieGroup section {
          padding: 25px; } }
      @media all and (min-width: 1480px) and (max-width: 1680px) {
        .dashboard_body .bottomPieGroup section {
          padding: 20px; } }
      @media all and (max-width: 1480px) {
        .dashboard_body .bottomPieGroup section {
          padding: 15px; } }
      .dashboard_body .bottomPieGroup section .Dashboard-body-second-part1 h2 {
        margin-bottom: 10px;
        margin-top: 0px; }
  .dashboard_body .Dashboard-body-second-part1-status {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    @media all and (max-width: 1480px) {
      .dashboard_body .Dashboard-body-second-part1-status {
        flex-direction: column; } }
    .dashboard_body .Dashboard-body-second-part1-status .status-list {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 20px; }
      .dashboard_body .Dashboard-body-second-part1-status .status-list span {
        margin-right: 30px; }
        @media all and (min-width: 1680px) {
          .dashboard_body .Dashboard-body-second-part1-status .status-list span {
            margin-right: 25px; } }
        @media all and (min-width: 1480px) and (max-width: 1680px) {
          .dashboard_body .Dashboard-body-second-part1-status .status-list span {
            margin-right: 15px; } }
        @media all and (max-width: 1480px) {
          .dashboard_body .Dashboard-body-second-part1-status .status-list span {
            margin-right: 10px; } }
  .dashboard_body .Dashboard-body-second-part2 {
    display: flex;
    align-items: center;
    justify-content: center; }
  .dashboard_body .dashboard_table {
    height: 1600px;
    overflow-y: scroll;
    z-index: 999;
    position: relative;
    padding: 20px 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
    .dashboard_body .dashboard_table h3 {
      margin-top: 0px;
      margin-bottom: 15px; }
    .dashboard_body .dashboard_table table {
      width: 100%;
      border-collapse: collapse;
      text-align: center; }
      .dashboard_body .dashboard_table table .sale {
        color: #008a00; }
      .dashboard_body .dashboard_table table .notsale {
        color: #da0000; }
    .dashboard_body .dashboard_table thead {
      background: #F4F4F4;
      color: #717171;
      font-weight: bold;
      cursor: s-resize; }
    .dashboard_body .dashboard_table td, .dashboard_body .dashboard_table th {
      padding: 23px 15px;
      border: 1px solid #707070; }
      .dashboard_body .dashboard_table td img, .dashboard_body .dashboard_table th img {
        width: 20px;
        height: 20px; }
    .dashboard_body .dashboard_table th {
      color: black; }
    .dashboard_body .dashboard_table tbody {
      background: #fff;
      color: #464646; }

.productCompare .tableStatus {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-around; }
  .productCompare .tableStatus span {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .productCompare .tableStatus span h4 {
      margin-left: 30px; }

.productCompare h2 {
  margin-top: 0px;
  margin-bottom: 10px; }

.productCompare .barchart {
  display: block;
  overflow-x: scroll; }

.displayNone {
  display: none; }

/*Vars*/
/*RWD*/
/*Mixins*/
html {
  font-size: 16px; }

/*General Setting*/
body {
  font-family: 'Roboto','Open Sans', sans-serif;
  font-size: 16px; }

a {
  text-decoration-line: none;
  cursor: pointer; }

h1 {
  font-size: 60px; }

h2 {
  font-size: 45px; }

h3 {
  font-size: 36px; }

h4 {
  font-size: 20px; }

header {
  height: 100px;
  position: relative;
  display: block;
  width: 100%;
  background: #fff;
  color: #fff;
  -webkit-box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.16);
  z-index: 1000;
  /* The container <div> - needed to position the dropdown content */
  /* Dropdown Content (Hidden by Default) */
  /* Links inside the dropdown */
  /* Change color of dropdown links on hover */
  /* Show the dropdown menu on hover */ }
  header .dropdown {
    position: relative;
    display: inline-block; }
  header .dropdown-content {
    display: none;
    position: absolute;
    background-color: #2B64FF;
    width: calc(100% - 4px);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border: 2px solid #2B64FF; }
  header .dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block; }
  header .dropdown-content a:hover {
    background-color: #fff;
    color: #2B64FF; }
  header .dropdown:hover .dropdown-content {
    display: block; }
  header .logo {
    color: #000;
    position: absolute;
    top: 50%;
    left: 50px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%); }
    header .logo h1 {
      margin: auto; }
    header .logo a {
      color: #000; }
  header nav,
  header nav ul,
  header nav ul li {
    margin: 0;
    padding: 0; }
  header nav {
    position: absolute;
    top: 50%;
    right: 50px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%); }
    header nav ul li {
      list-style-type: none;
      margin-right: 10px;
      display: flex;
      flex-direction: row;
      color: #000; }
      header nav ul li p {
        margin-right: 10px; }
      header nav ul li.last {
        margin: 0; }
      header nav ul li a {
        font-size: 16px;
        line-height: normal;
        color: #fff; }

footer {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2B64FF; }
  footer .copyright {
    color: #fff; }
    footer .copyright h2 {
      margin: 0px;
      font-size: 20px; }
  footer h2 {
    margin: 0px; }

.basicBtn {
  color: #fff;
  background: #2B64FF;
  padding: 15px 60px;
  border: 2px solid #2B64FF;
  font-size: 16px;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  transition: 0.2s ease; }
  .basicBtn:hover {
    color: #2B64FF;
    background: rgba(0, 0, 0, 0); }

.basicBtn_reverse {
  color: #2B64FF;
  background: #fff;
  padding: 15px 0px;
  width: 300px;
  text-align: center;
  border: 2px solid #fff;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  transition: 0.2s ease; }
  .basicBtn_reverse:hover {
    color: #fff;
    background: rgba(0, 0, 0, 0); }

.google-button {
  height: 40px;
  border-width: 0;
  background: white;
  color: #737373;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.05);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0; }
  .google-button:focus, .google-button:hover {
    box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1); }
  .google-button:active {
    background-color: #e5e5e5;
    box-shadow: none;
    transition-duration: 10ms; }

.google-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
  width: 25px;
  height: 25px;
  box-sizing: border-box; }

.google-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto',arial,sans-serif; }

.error {
  color: red; }

.spinner {
  animation: rotator 1.4s linear infinite; }

@keyframes rotator {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(270deg); } }

.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite; }

@keyframes colors {
  0% {
    stroke: #4285F4; }
  25% {
    stroke: #DE3E35; }
  50% {
    stroke: #F7C223; }
  75% {
    stroke: #1B9A59; }
  100% {
    stroke: #4285F4; } }

@keyframes dash {
  0% {
    stroke-dashoffset: 187; }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg); }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg); } }

.loading {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }

.notFound {
  height: calc(100vh - 200px);
  display: flex;
  align-items: center;
  justify-content: center; }

/*Vars*/
/*RWD*/
/*Mixins*/
html {
  font-size: 16px; }

/*General Setting*/
body {
  font-family: 'Roboto','Open Sans', sans-serif;
  font-size: 16px; }

a {
  text-decoration-line: none;
  cursor: pointer; }

h1 {
  font-size: 60px; }

h2 {
  font-size: 45px; }

h3 {
  font-size: 36px; }

h4 {
  font-size: 20px; }

.home-header {
  background-image: url("./../img/homepage/homebg.png");
  background-position: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin-top: -100px;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

.home-body {
  padding: 70px 200px; }

.panelBtn {
  font-size: 20px;
  color: #2B64FF;
  width: 400px;
  height: 300px;
  background-color: #fff;
  box-shadow: 0px 6px 6px #00000029;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 15px;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  transition: 0.2s ease; }
  .panelBtn .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #2B64FF;
    border-radius: 15px; }
  .panelBtn:hover .overlay {
    opacity: 1; }
  .panelBtn .text {
    color: white;
    font-size: 20px;
    position: absolute;
    padding: 10px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center; }

.panelList {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 110px; }
  .panelList section {
    width: 600px;
    height: 600px;
    padding: 30px;
    box-shadow: 0px 6px 6px #00000029;
    margin: 20px 0px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative; }
    .panelList section h2 {
      margin-top: 0px;
      margin-bottom: 0px; }
    .panelList section h3 {
      margin-top: 0px;
      margin-bottom: 0px; }
    .panelList section ul {
      padding-left: 0px; }
      .panelList section ul li {
        list-style-type: none;
        color: #585858; }
    .panelList section .panelList-console {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 80px;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      background-color: #BCE0FD; }
    .panelList section .panelList-panel {
      width: 60%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: relative; }
      .panelList section .panelList-panel a {
        color: #000;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 180px; }
        .panelList section .panelList-panel a:hover img {
          opacity: .5;
          padding-left: 20px; }
        .panelList section .panelList-panel a img {
          -webkit-transition: 0.2s ease;
          -moz-transition: 0.2s ease;
          transition: 0.2s ease;
          width: 30px;
          opacity: 1;
          padding-left: 10px; }
    .panelList section .panelList-logo {
      width: 40%;
      height: 100%; }
      .panelList section .panelList-logo ul {
        display: flex;
        flex-direction: row;
        padding-left: 30px;
        height: 100%;
        margin: 0px; }
      .panelList section .panelList-logo ul li {
        list-style-type: none;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px 15px; }
        .panelList section .panelList-logo ul li img {
          width: 60px; }

/*Vars*/
/*RWD*/
/*Mixins*/
html {
  font-size: 16px; }

/*General Setting*/
body {
  font-family: 'Roboto','Open Sans', sans-serif;
  font-size: 16px; }

a {
  text-decoration-line: none;
  cursor: pointer; }

h1 {
  font-size: 60px; }

h2 {
  font-size: 45px; }

h3 {
  font-size: 36px; }

h4 {
  font-size: 20px; }

.landing-header {
  background-image: url("./../img/landingpage/landing@2x.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin-top: -100px; }
  .landing-header section {
    float: left;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; }
    .landing-header section h1, .landing-header section h2 {
      color: #fff;
      width: 510px;
      margin: 0 auto;
      text-align: left; }
    .landing-header section h1 {
      line-height: 70px; }
    .landing-header section h2 {
      line-height: 90px; }
    .landing-header section h3 {
      margin: 0; }
    .landing-header section a {
      border-radius: 10px; }
  .landing-header .landing-header-btn {
    width: 510px;
    margin: 10px auto 0 auto;
    display: flex; }

.landing-body {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 6px 6px #00000029;
  top: -110px;
  position: relative;
  background-color: #fff;
  padding: 30px 100px; }
  .landing-body section:nth-child(1) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #BCBCBC; }
    .landing-body section:nth-child(1) .landing-body-first-part {
      width: 30%;
      text-align: center; }
      .landing-body section:nth-child(1) .landing-body-first-part h3 {
        margin-top: 90px;
        margin-bottom: 70px; }
      .landing-body section:nth-child(1) .landing-body-first-part p {
        margin-bottom: 120px; }
  .landing-body section:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #BCBCBC;
    width: 100%;
    height: 600px; }
    .landing-body section:nth-child(2) .landing-body-second-part1, .landing-body section:nth-child(2) .landing-body-second-part2 {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .landing-body section:nth-child(2) .landing-body-second-part1 h2, .landing-body section:nth-child(2) .landing-body-second-part2 h2 {
        margin-bottom: 70px; }
      .landing-body section:nth-child(2) .landing-body-second-part1 h4, .landing-body section:nth-child(2) .landing-body-second-part2 h4 {
        margin: auto;
        margin-right: 60px; }
      .landing-body section:nth-child(2) .landing-body-second-part1 .status-list, .landing-body section:nth-child(2) .landing-body-second-part2 .status-list {
        display: flex;
        flex-direction: row;
        align-self: center;
        justify-content: space-between;
        margin-bottom: 50px; }
        .landing-body section:nth-child(2) .landing-body-second-part1 .status-list span, .landing-body section:nth-child(2) .landing-body-second-part2 .status-list span {
          display: flex; }
  .landing-body section:nth-child(3) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #BCBCBC;
    width: 100%;
    height: 600px; }
    .landing-body section:nth-child(3) .landing-body-third-part1, .landing-body section:nth-child(3) .landing-body-third-part2 {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .landing-body section:nth-child(3) .landing-body-third-part1 h2, .landing-body section:nth-child(3) .landing-body-third-part2 h2 {
        margin-bottom: 70px; }
      .landing-body section:nth-child(3) .landing-body-third-part1 h4, .landing-body section:nth-child(3) .landing-body-third-part2 h4 {
        margin: auto;
        margin-right: 60px; }
      .landing-body section:nth-child(3) .landing-body-third-part1 .product-list, .landing-body section:nth-child(3) .landing-body-third-part2 .product-list {
        display: flex;
        flex-direction: row;
        align-self: center;
        justify-content: space-between;
        margin-bottom: 50px; }
        .landing-body section:nth-child(3) .landing-body-third-part1 .product-list span, .landing-body section:nth-child(3) .landing-body-third-part2 .product-list span {
          display: flex; }

.history {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center; }

.search-bg {
  background-image: url("./../img/searchpage/searchbg.png");
  background-position: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  margin-top: -100px;
  z-index: -1;
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%; }

.search_form {
  display: flex;
  flex-direction: column;
  padding: 20px 200px 140px 200px; }
  .search_form h3 span {
    color: #d30000;
    font-size: 12px; }
  .search_form h1 {
    margin: 0px 0px 0px 0px; }
  .search_form .choices {
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 150px;
    justify-content: space-evenly; }
    .search_form .choices h2 {
      margin: 0px 0px 10px 0px; }
  .search_form input[type=checkbox] {
    margin-right: 16px; }
  .search_form input[type=submit] {
    margin-top: 30px;
    width: 168px; }

.search-body {
  margin-top: 30px; }
  .search-body .basicBtn {
    margin-top: 50px;
    width: 250px; }
  .search-body .arrowSearchBtn {
    width: fit-content;
    margin-left: 200px;
    margin-top: 70px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    padding: 0;
    transition: ease .3s;
    display: flex;
    flex-direction: row;
    align-items: center; }
    .search-body .arrowSearchBtn img {
      margin-right: 10px; }
    .search-body .arrowSearchBtn:hover {
      opacity: .8; }

/*Vars*/
/*RWD*/
/*Mixins*/
html {
  font-size: 16px; }

/*General Setting*/
body {
  font-family: 'Roboto','Open Sans', sans-serif;
  font-size: 16px; }

a {
  text-decoration-line: none;
  cursor: pointer; }

h1 {
  font-size: 60px; }

h2 {
  font-size: 45px; }

h3 {
  font-size: 36px; }

h4 {
  font-size: 20px; }

.signin-container {
  background-image: url("./../img/signinpage/signin.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin-top: -100px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .signin-container section {
    height: 600px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 6px 6px #00000029;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    @media all and (min-width: 1680px) {
      .signin-container section {
        width: 1500px; } }
    @media all and (min-width: 1480px) and (max-width: 1680px) {
      .signin-container section {
        width: 1200px; } }
    @media all and (max-width: 1480px) {
      .signin-container section {
        width: 1000px; } }
    .signin-container section .signin, .signin-container section .signup {
      width: 45%;
      text-align: center;
      padding: 70px; }
      @media all and (max-width: 1480px) {
        .signin-container section .signin, .signin-container section .signup {
          padding: 70px 0px; } }
    .signin-container section .or {
      width: 10%;
      text-align: center;
      padding: 70px; }
      @media all and (min-width: 1480px) and (max-width: 1680px) {
        .signin-container section .or {
          padding: 70px 0px; } }
      @media all and (max-width: 1480px) {
        .signin-container section .or {
          padding: 0px; } }
      .signin-container section .or h2 {
        position: relative; }
      .signin-container section .or h2::after {
        content: "";
        display: block;
        border: 1px solid #c3c3c3;
        height: 300px;
        position: absolute;
        left: 55px;
        top: 75px; }
    .signin-container section .signin form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .signin-container section .signin form .form-group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 300px;
        margin-bottom: 25px; }
        .signin-container section .signin form .form-group:nth-child(3) {
          justify-content: center;
          margin-top: 10px; }
        .signin-container section .signin form .form-group input {
          width: 200px;
          height: 25px;
          font-size: 16px; }
    .signin-container section .signup form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .signin-container section .signup form .form-group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 350px;
        margin-bottom: 25px; }
        .signin-container section .signup form .form-group:last-child {
          justify-content: center;
          margin-top: 10px; }
        .signin-container section .signup form .form-group input {
          width: 200px;
          height: 25px;
          font-size: 16px; }
